/*-------------------------BASE------------------------------*/
.tab-content{
  display: none;
}
/*-----------------------LAYOUT------------------------------*/
.mainNav{
  max-height: 0px;
  overflow: hidden;
  font-size: 30px;
  max-height: 0px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
}
/*---------------------MODULE-------------------------------*/

/*---------------------STATE--------------------------------*/
.show{
  max-height: 300px;
}
