/*-------------------------BASE------------------------------*/
.tab-content{
  display: none;
}
.clear{
  clear: both;
}
.clickable{
  cursor: pointer;
}
header{
  width:100%;
  max-width: 1500px;
  padding-top: 50px;
  margin: auto;
  background-color: inherit;
  position: relative;
}
body{
  background-color: #4281A4;
  max-width: 1500px;
  margin: auto;
}
footer{
  width: 100%;
  height: 100px;
  margin-top: 20px auto;
  max-width: 1500px;
}
br{
  display: none;
}
/*-----------------------LAYOUT------------------------------*/
.fa-toggle-down, .fa-toggle-up{
  width:100%;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  color: #9CAFB7;
}
.fa-user-circle{
  font-size: 50px;
  width:15%;
  padding-right: 20px;
  text-align: right;
  color: #9CAFB7;
}
.mainNav{
  max-height: 0px;
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 1;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
  background-color: #4281A4;
}
.logo{
  font-family: 'Anton', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: #EAD2AC;
}
.button-wrap{
  display: flex;
  height: 200px;
  width: 100%;
}
.getRecipes{
  font-family: 'Lobster', cursive;
  font-size: 30px;
  margin: auto auto;
  color: white;
  background-color: #FE938C;
  border-radius: 10px;
  padding: 20px 70px;
  border: 2px solid ;
}
.navWrapper{
  text-align: center;
  width: 100%;
}

nav li{
  font-size: 30px;
  text-align: center;
}
.navList{
  height: 1000px;
}
.recipeResult{
  width: 75%;
  height:200px;
  border: solid 2px #9CAFB7;
  background-color: white;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
#edamam-badge{
  float: right;
}
.hrTry {
  display: block;
  font-family: 'Lobster', cursive;
  color: #E6B89C;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
}

.hrTry > span {
  position: relative;
  display: inline-block;
}

.hrTry > span:before,
.hrTry > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #EAD2AC;
}

.hrTry > span:before {
  right: 100%;
  margin-right: 15px;
}

.hrTry > span:after {
  left: 100%;
  margin-left: 15px;
}
#DeltaV{
  width: 30%;
  float: left;
  padding-left: 20px;
}
#edamam-badge{
  padding-right: 20px;
}
.fa-plus-square-o, .fa-minus-square-o{
  color: #E6B89C;
  font-size: 40px;

}
#recipe{
  margin: 30px 20px;

}
.formChoice{
  font-family: 'Lobster', cursive;
  color: #E6B89C;
  font-size: 35px;
  float: right;
}
.expandForm{
  margin-top: 10px;
}
#recipeLookup{
  text-align: center;
}
#chooseIngredient input[type="text"]{
  height: 25px;
  font-size: 25px;
}
.dietaryRestriction{
  font-size: 25px;
  color: white;
  font-family: 'Anton', sans-serif;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  margin:auto auto;
  user-select: none;
}
.dietaryRestriction input[type="checkbox"]{
  display: none;
}
legend{
  font-family: 'Lobster', cursive;
  color: #E6B89C;
  font-size: 25px;
  padding: 10px 0px;
}
#recipe-search{
  font-family: 'Lobster', cursive;
  font-size: 30px;
  margin: auto auto;
  color: white;
  background-color: #FE938C;
  border-radius: 10px;
  padding: 10px 70px;
  border: 2px solid;
  padding-top: 10px;
}
select{
  font-size: 20px;
  background-color: #9CAFB7;
}
/*---------------------MODULE-------------------------------*/
nav a{
  color: #E6B89C;
  font-family: 'Anton', sans-serif;
  text-decoration: none;
  display: block;
  padding: 10px;
  margin: 20px 30px;
  border: 2px solid #9CAFB7;
  border-radius: 10px;
}
/*---------------------STATE--------------------------------*/
.show{
  max-height: 1000px;
}
.off{
  display: none;
}
.selected{
  color: #FE938C;
}
.hide{
  max-height: 0px;
  overflow: hidden;
}
.hideMobile{
  max-height: 0px;
  overflow: hidden;
}
@media (min-width: 600px){
  header{
    border-bottom: 2px solid #9CAFB7;
  }
  .fa-toggle-down, .fa-toggle-up{
    display: none;
  }
  .fa-user-circle{
    font-size: 50px;
    width:15%;
    padding-right: 20px;
    text-align: right;
    color: #9CAFB7;
  }
  .mainNav{
    position: relative;
    width: 100%;
    max-height: 75px;
  }
  .logo{
    font-family: 'Anton', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: #EAD2AC;
  }
  .button-wrap{
    display: flex;
    height: 200px;
    width: 100%;
  }
  .navWrapper{
    height: 75px;
    width: 100%;
  }

  nav li{
    font-size: 30px;
    display: inline;
  }
  .navList{
    height: 1000px;
  }
  nav a{
    display: inline-block;
    border: none;
  }
  .getRecipes{
    font-family: 'Lobster', cursive;
    font-size: 45px;
    margin: auto auto;
    color: white;
    background-color: #FE938C;
    border-radius: 20px;
    padding: 30px 300px;
    border: 2px solid;
  }
  .hrTry {
    font-size: 30px;
  }

  .hrTry > span:before,
  .hrTry > span:after {
    width: 9999%;
  }
  .fa-plus-square-o, .fa-minus-square-o{
    display: none;
  }
  .formWrapper{
    width: 30%;
    float: left;
  }
  .formChoice{
    text-align: center;
    float: none;
  }
  .expandForm{
    width: 100%;
    display: block;
  }
  .dietaryRestriction{
    font-size: 30px;
    padding: 10px 25px;
    display: inline-block;
  }
  .recipe-result-wrap{
    border: 2px solid white;
    width: 60%;
    float: right;
    height: 700px;
  }
  legend{
    font-size: 40px;
  }
  br{
    display: inline;
  }
  .hideMobile{
    max-height: none;
    overflow: hidden;
  }
}
